.sec-three {
  padding: 0 118px 0 56px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 131px;
  /* gap: 138px; */
}

.sec-three .left-box {
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sec-three .left-box img {
  width: 80px;
}

.sec-three .left-box h2 {
  font-weight: 800px;
  font-size: 48px;
  line-height: 64px;
  margin: 24px 0;
}

.sec-three .left-box p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -2%;
}

.sec-three .members {
  width: 434px;
  border-radius: 16px;
  border: 4px solid black;
  padding: 32px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.members h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -2%;
  margin-bottom: 32px;
}

.user-info {
  display: flex;
  gap: 16px;
}

.user-info .user-name {
  margin-top: 8px;
}

.user-info .user-name h4 {
  font-weight: 100;
  font-style: italic;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: -2%;
  margin-bottom: 4px;
}

.user-info .user-name h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -2%;
  color: #66645e;
}
